body .fv {
  color: #fff;
  min-height: 100vh;
  position: relative;
}

body .fv header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 999;
  padding: 30px 58px;
}

@media screen and (max-width: 1150px) {
  body .fv header {
    padding: 30px;
  }
}

@media screen and (max-width: 500px) {
  body .fv header {
    padding: 30px 15px;
  }
}

body .fv header .logo {
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  body .fv header .logo img:first-of-type {
    width: 20px;
  }
}

@media screen and (max-width: 300px) {
  body .fv header .logo img:first-of-type {
    width: 15px;
  }
}

@media screen and (max-width: 500px) {
  body .fv header .logo img:nth-last-of-type(2) {
    width: 130px;
  }
}

@media screen and (max-width: 300px) {
  body .fv header .logo img:nth-last-of-type(2) {
    width: 100px;
  }
}

@media screen and (max-width: 500px) {
  body .fv header .logo img:last-of-type {
    width: 30px;
  }
}

@media screen and (max-width: 300px) {
  body .fv header .logo img:last-of-type {
    width: 20px;
  }
}

body .fv header .burger-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  line-height: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .fv header .burger-wrapper .burger-btn {
  display: inline-block;
  width: 22px;
  height: 10px;
  position: relative;
}

body .fv header .burger-wrapper .burger-btn .bar {
  width: 22px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .fv header .burger-wrapper .burger-btn .bar-top {
  top: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

body .fv header .burger-wrapper .burger-btn .bar-mid {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .fv header .burger-wrapper .burger-btn .bar-bottom {
  bottom: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

body .fv header .burger-wrapper .close .bar-top {
  -webkit-transform: translate(-50%, 4px) rotate(45deg);
          transform: translate(-50%, 4px) rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

body .fv header .burger-wrapper .close .bar-mid {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

body .fv header .burger-wrapper .close .bar-bottom {
  -webkit-transform: translate(-50%, -4px) rotate(-45deg);
          transform: translate(-50%, -4px) rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

body .fv header .burger-wrapper p {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-left: 7px;
}

@media screen and (max-width: 500px) {
  body .fv header .burger-wrapper p {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  body .fv header .burger-wrapper p {
    margin-left: 5px;
  }
}

body .fv header .body-mask {
  display: none;
  width: calc(100vw - 520px);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  opacity: 0.6;
}

body .fv header .nav-wrapper {
  display: none;
  width: 520px;
  height: 100vh;
  background-color: #222;
  opacity: 0.95;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 500px) {
  body .fv header .nav-wrapper {
    width: 100vw;
  }
}

body .fv header .nav-wrapper .header-nav {
  width: 100%;
  height: 100%;
  position: relative;
}

body .fv header .nav-wrapper .header-nav .header-ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .fv header .nav-wrapper .header-nav .header-ul li {
  margin-bottom: 30px;
  text-align: center;
}

body .fv header .nav-wrapper .header-nav .header-ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.068em;
  white-space: nowrap;
}

body .fv .fv-text {
  position: absolute;
  top: 50%;
  left: 80%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  z-index: 800;
}

@media screen and (max-width: 1150px) {
  body .fv .fv-text {
    left: 70%;
  }
}

@media screen and (max-width: 768px) {
  body .fv .fv-text {
    left: 60%;
  }
}

@media screen and (max-width: 500px) {
  body .fv .fv-text {
    top: 60%;
    left: 50%;
  }
}

body .fv .fv-text .fv-text-jp {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  body .fv .fv-text .fv-text-jp {
    font-size: 16px;
  }
}

body .fv .fv-text .fv-text-en {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  body .fv .fv-text .fv-text-en {
    font-size: 16px;
  }
}

body .fv .fv-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 1.2;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  body .fv .fv-text h1 {
    font-size: 56px;
  }
}

@media screen and (max-width: 500px) {
  body .fv .fv-text h1 {
    font-size: 52px;
  }
}

@media screen and (max-width: 300px) {
  body .fv .fv-text h1 {
    font-size: 50px;
  }
}

body .fv .fv-img {
  background: url(../../img/about-fv.jpg) top/cover no-repeat;
  width: 80%;
  height: 80%;
  position: absolute;
}

@media screen and (max-width: 768px) {
  body .fv .fv-img {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  body .fv .fv-img {
    height: 90%;
  }
}

body .fv .fv-img::after {
  content: "";
  background: #000;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
}

body .fv .fv-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .fv .fv-bg .wh-box {
  width: 50%;
  height: 100vh;
}

@media screen and (max-width: 500px) {
  body .fv .fv-bg .wh-box {
    width: 30%;
  }
}

body .fv .fv-bg .bl-box {
  width: 50%;
  height: 100vh;
  background: #222;
}

@media screen and (max-width: 500px) {
  body .fv .fv-bg .bl-box {
    width: 70%;
  }
}

body main {
  color: #333;
}

body main .vision {
  padding: 120px 0 60px;
}

body main .vision .vision-wrapper {
  max-width: 1130px;
  padding: 0 30px;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  body main .vision .vision-wrapper {
    padding: 0 15px;
  }
}

body main .vision .vision-wrapper h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.068em;
  margin-bottom: 25px;
}

body main .vision .vision-wrapper h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 25px;
}

body main .vision .vision-wrapper p {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
}

body main .ceo {
  padding: 60px 0;
}

body main .ceo .ceo-wrapper {
  max-width: 1130px;
  padding: 0 30px;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  body main .ceo .ceo-wrapper {
    padding: 0 15px;
  }
}

body main .ceo .ceo-wrapper .ceo-img {
  max-width: 420px;
}

body main .ceo .ceo-wrapper .ceo-img img {
  width: 100%;
}

body main .ceo .ceo-wrapper .ceo-ms {
  max-width: 770px;
  margin: -100px 0 0 auto;
  padding: 120px 0 90px;
  background: #f0f0f0;
}

body main .ceo .ceo-wrapper .ceo-ms .message {
  max-width: 400px;
  margin: 0 auto;
}

body main .ceo .ceo-wrapper .ceo-ms .message h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.068em;
  margin-bottom: 30px;
}

body main .ceo .ceo-wrapper .ceo-ms .message p {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
}

body main .company {
  padding: 60px 0 120px;
}

body main .company .company-wrapper {
  max-width: 1130px;
  padding: 0 30px;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  body main .company .company-wrapper {
    padding: 0 15px;
  }
}

body main .company .company-wrapper h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.068em;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

body main .company .company-wrapper dl {
  max-width: 800px;
  margin: 0 0 40px auto;
}

body main .company .company-wrapper dl div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 0;
  border-bottom: 1px solid #ddd;
}

body main .company .company-wrapper dl div dt {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  width: 130px;
}

@media screen and (max-width: 500px) {
  body main .company .company-wrapper dl div dt {
    width: 110px;
  }
}

@media screen and (max-width: 300px) {
  body main .company .company-wrapper dl div dt {
    width: 100px;
  }
}

body main .company .company-wrapper dl div dd {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

body main .company .company-wrapper img {
  width: 100%;
}

@media screen and (max-width: 500px) {
  body main .company .company-wrapper img {
    display: none;
  }
}

body main .company .company-wrapper .map-img-sp {
  display: none;
}

@media screen and (max-width: 500px) {
  body main .company .company-wrapper .map-img-sp {
    display: block;
  }
}

body footer {
  background: #525252;
  height: 50px;
  line-height: 50px;
}

body footer small {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.015em;
  color: #fff;
  display: block;
  text-align: center;
}
/*# sourceMappingURL=about.css.map */